<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div>311123123</div>
	<div>311123123</div>
</body>
<script type="text/javascript" src="../js/index.js"></script>
</html>